thesis/files/latexmkrc 
thesis/files/output.xmpdata 
thesis/files/pdfa.xmpi 
thesis/files/thesis.acn 
thesis/files/thesis.acr 
thesis/files/thesis.alg 
thesis/files/thesis.aux 
thesis/files/thesis.bbl 
thesis/files/thesis.bcf 
thesis/files/thesis.fdb_latexmk 
thesis/files/thesis.fls 
thesis/files/thesis.glg 
thesis/files/thesis.glo 
thesis/files/thesis.gls 
thesis/files/thesis.ist 
thesis/files/thesis.lof 
thesis/files/thesis.log 
thesis/files/thesis.lot
thesis/files/thesis.toc
thesis/files/thesis.synctex.gz 
thesis/files/thesis.run.xml
thesis/files/thesis-blx.bib