.DS_Store
.xmpi
.acn
.aux
.bbl
.bcf
.blg
.fdb_latexmk
.fls
.glo
.glsdefs
.ist
.lof
.log
.lot
.pdf
.run.xml
.synctex.gz
.toc
pdfa.xmpi
thesis.acn
thesis.acr
thesis.alg
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glg
thesis.glo
thesis.gls
thesis.ist
thesis.lof
thesis.log
thesis.lot
thesis.run.xml
thesis.synctex.gz
thesis.toc